@import url(Header.css);
@import url(section-about-me.css);

/*Configurações gerais do Body*/
body,html {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, var(--color1), white, var(--color1));
    
    
    
}

main {

    background-color: white;
    margin: 0% 15%;
}
