@import url(Header.css);
@import url(object-about-me.css);
@import url(object-skills.css);
@import url(object-portfolio.css);

/*===| Glogal-Body-Settings |===*/
body,html {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, var(--color1), var(--color3), var(--color1));
    
    
    
}

main {

    background-color: var(--color3);
    margin: 0% 15%;
}
/*===| Global-Section-Settings |===*/
.sec-with-img{
    
    background-image: url(../Imagens/pngtree-climber-and-purple-mountain-background-image_389792.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
      
}