@media screen and (max-width: 768px) {
    #itens {
        background-color: var(--color1);
        display: none;
        transition: ease 2s;
        

    }

    #burguer {
        display: block;
        color: white;
        background-color: var(--color1);
        padding: .5em;
        cursor: pointer;
    }

    #burguer:hover {
        background-color: rgba(255, 255, 255, 0.808);
        color: var(--color1);
        transition: .6s;
    }

    #itens li {
        list-style: none;
    }

    #itens a {

        display: block;
        border-top: 1px solid white;
        padding: .5em;
        color: white;
        text-decoration: none;
        

    }

    #itens a:hover {
        background-color: rgba(255, 255, 255, 0.808);
        color: var(--color1);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.384);
        transition: ease .6s;

    }


}

@media screen and (min-width:768px) {
    #burguer {
        display: none;
    }
    

    #itens {
        width: 100%;
        padding: 1.2em;
        margin-top: 1em;
        background-color: var(--color1);
        justify-content: center;
        


    }


    #itens li {
        display: inline;
        border-radius: 30px;
        
        
        list-style: none;
    }
    #itens a{
        padding: 1em;
        color: white;
        text-decoration: none;
        transition: ease .5s;
    }

    #itens a:hover {

        background-color: white;
        color: var(--color1);
        padding: .8em;
        border-radius: 50%;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.384);
        transition: ease .5s;
        
        

        
    }
}