@media screen and (max-width:768px) {
    section#object-skills {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    justify-items: center;
         
    }


    
}
section#object-skills #skills {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    

}
section#object-skills .skill {
    
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.144);
    
}